.button {
  width: 100%;

  border: none;
  cursor: pointer;
}

.primary {
  background-color: #000;
  color: #fff;
}

.button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: 0.3s ease-in-out;
}

.btn-lg {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

.btn-md {
  padding: 10px;
}

.btn-sm {
  padding: 5px;
}

.btn-disabled {
  background-color: rgb(182, 182, 182);
  color: #fff;
  border: none;
  width: 100%;
}

.transparent {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
