.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 65px;
  box-shadow: 0 4px 13px rgb(0 0 0 / 5%);
}

.profile-wrapper a:first-child {
  margin-right: 20px;
}

.profile-wrapper a:nth-child(2) {
  margin-right: 20px;
}

.profile-wrapper a:last-child {
  color: #bbb;
}
